<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Business Messaging & Contact Management</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="google-site-verification" content="9CMRMPTCzEL_nLA_deGGFCsKSouKDl_6D_MVBqp5Y-g" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- FAV ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../static/dist/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../static/dist/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/dist/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/dist/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/dist/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../static/dist/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/dist/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../static/dist/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/dist/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dist/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/dist/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../static/dist/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/dist/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../static/dist/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#fff">
  <!-- Manifest file for Installation on Android and Chrome -->
  <link rel="manifest" href="../../static/dist/manifest/manifest.json">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
<!-- jQuery 2.2.3 -->
<script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../../static/dist/js/social/jquery.floating-social-share.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini" id="MyBody">
<div class="wrapper">
  <!-- Main Header -->
   <div id="MainHeaderDiv"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div id="SideBarDiv"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Blue IT Marketing Bulk Messaging
        <small>Contact &amp; Messaging Management with Bulk SMS and Email </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Home</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
     <div class="row">
        <div class="col-md-6">
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                      <h3 class="box-title"><a href="/account"> <i class="glyphicon glyphicon-envelope"> </i> Business Messaging and Contact management</a></h3>
                </div>
                <blockquote>
                        Business Messaging and Contact Management App (SA-SMS) is an application developed by Blue IT Marketing Solution with the purpose of improving communication within the organizations, as well as advertisement strategies. This Application is most useful tool for communication and advertisement.
                </blockquote>
            </div>
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title"><a href="/admin"><i class="glyphicon glyphicon-send"> </i> Bulk SMS</a></h3>
                </div>
                <blockquote>
                        This is most important feature that can improve communication within your organization. In this service you can be abled to send a text message to the large number of contact at a time. You can send the text message to your employee or your customers.
                </blockquote>
            </div>
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title"> <a href="/advertise"> <i class="glyphicon glyphicon-bullhorn"> </i> Advertising</a></h3>
                </div>
                <blockquote>
                    This service allows you to send advertisement to the customers, by sending an order to the system administrator. The system administrator will check your advertisement and send it to the contact list that is on the database, the number of contact list will depend on the chosen product plan.
                </blockquote>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                        <h3 class="box-title"><a href="/surveys"><i class="glyphicon glyphicon-pencil"> </i> Survey</a></h3>
                </div>
                <blockquote>
                    At this service you can send survey questions to the customers/clients or your employee and get the feedback, this help the organization on knowing what customer/clients need or what your employee need. You can also use this service to get information about the customers.
                </blockquote>

            </div>
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title"><a href="/admin"><i class="glyphicon glyphicon-phone"> </i> Contact management</a></h3>
                </div>
                <blockquote>
                    Add your organizations Contacts in our Contact Management module and easily manage communication between your organization and your contacts, the module also saves communication messages between you and your contact automatically.
                </blockquote>
            </div>
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title"><a href="/affiliates"><i class="glyphicon glyphicon-bitcoin"> </i> Affiliates </a> </h3>
                </div>
                Once you own an account you can use our affiliate system to earn an extra income of SMS Credits by
                promoting our services through Social Media and any other means you can...

            </div>
        </div>
     </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
 <div id="FooterDiv"></div>
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- Bootstrap 3.3.6 -->
<!-- Font Awesome -->
<link rel="stylesheet" href="../../static/dist/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="../../static/dist/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../static/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../static/dist/css/skins/skin-blue.min.css">

<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->

<script src="../../static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../static/plugins/fastclick/fastclick.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/pages/loaders.js"></script>
</body>
</html>
