
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="rkt7iLTBYZuRLjY_Sxg4uDDNusOJnuhHCDIGPwAahtk" />
  <title>SA-SMS - Blue IT Marketing Pty LTD</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- FAV ICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/dist/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/dist/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/dist/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/dist/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/dist/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/dist/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/dist/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/dist/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/dist/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/dist/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/dist/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/dist/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/dist/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/dist/favicons/ms-icon-144x144.png">
  <!-- Manifest file for Installation on Android and Chrome -->
  <link rel="manifest" href="/static/dist/manifest/manifest.json">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
<script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/static/dist/js/social/jquery.floating-social-share.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini" onclick="LoadFaxSubMenu()" id="MyBody">
<div class="wrapper">
  <!-- Main Header -->
   <div id="MainHeaderDiv"></div>
  <!-- Left side column. contains the logo and sidebar -->
  <div id="SideBarDiv"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Blue IT Marketing
        <small>Blue IT Marketing Bulk Messaging </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Fax</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
            <div class="box box-primary with-border">
                <div class="box box-profile with-border">
                      <a href="/fax"><img class="profile-user-img img-responsive img-circle" src="/static/dist/img/sms.jpeg" alt="Business Fax Solutions"></a>
                      <h3 class="profile-username text-center">Fax</h3>
                      <p class="text-muted text-center">Business Faxing Solutions</p>
                    <div id="FaxSubMenuINFDIV">
                    </div>
                </div>
            </div>
            <div class="box box-profile with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title">  My Faxes</h3>
                </div>
                <button type="button" class="btn btn-primary btn-block" id="AccountDetailsButt"><strong><i class="glyphicon glyphicon-credit-card"> </i> Account Details </strong></button>
                <button type="button" class="btn btn-primary btn-block" id="MyFaxesButt"><strong><i class="fa fa-tty"> </i> My Faxes </strong></button>
                <button type="button" class="btn btn-primary btn-block" id="SettingsButt"><strong><i class="glyphicon glyphicon-cog"> </i> Settings </strong></button>
            </div>
        </div>
        <div class="col-md-9">
            <div id="FaxINFDIV">
                <div class="box box-body with-border">
                    <div class="box box-header with-border">
                        <h3 class="box box-title"><i class="fa fa-tty"> </i> Business Fax Solutions</h3>
                    </div>

                        <p></p><strong>Blue IT Marketing</strong> <strong>Business Fax Solutions</strong> allows you to create your own fax to email service,
                        this allows you to own a <strong>Cloud Based Faxing Solution</strong> that is always on, and enable you to save
                        fax paper and money.</p>




                        <div class="box box-footer with-border">
                            <div class="box box-header with-border">
                                <h4 class="box box-title"> <a href="#">How it works</a> </h4>
                            </div>
                          <blockquote>
                            in order to start using our fax to email services start by:
                            <ul class="list-group-unbordered">
                                <li class="list-group-item"> <i class="glyphicon glyphicon-ok-circle"> </i> Login using any of the federated login options or through your own email and a unique password</li>
                                <li class="list-group-item"> <i class="glyphicon glyphicon-ok-circle"> </i> Create your account , both on the account menu option and also on the fax account option</li>
                                <li class="list-group-item"> <i class="glyphicon glyphicon-ok-circle"> </i> Purchase your <strong>Fax Credits</strong>, under the account tab</li>
                                <li class="list-group-item"> <i class="glyphicon glyphicon-ok-circle"> </i> Upload your deposit slip as proof of payment</li>
                                <li class="list-group-item"> <i class="glyphicon glyphicon-ok-circle"> </i> Go to settings and create your fax number, and your own email to fax email address</li>
                                <li class="list-group-item"> <i class="glyphicon glyphicon-ok-circle"> </i> See instructions on <strong>how to Send a Fax</strong></li>
                            </ul>
                           </blockquote>
                        </div>

                    <div class="box box-footer with-border">
                        <div class="box box-header with-border">
                            <h4 class="box box-title"> <a href="#">Sending &amp; Receiving a Fax</a></h4>
                        </div>
                        <blockquote>
                            <p>
                                Sending &amp; Receiving a Fax is easy and can be done in four different ways, thereby allowing you to send and receive
                                your fax from:
                            </p>
                                <ul class="list-group-unbordered">
                                    <li class="list-group-item"> Any of your devices</li>
                                    <li class="list-group-item"> From your emailing Applications</li>
                                    <li class="list-group-item"> Business Applications</li>
                                    <li class="list-group-item"> And Also from your Online Email Service example Gmail</li>
                                </ul>
                        </blockquote>
                    </div>


                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
 <div id="FooterDiv"></div>
  <div class="control-sidebar-bg"></div>
</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/plugins/fastclick/fastclick.min.js"></script>
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/pages/fax/fax.js"></script>
<script async defer src="/static/dist/js/pages/loaders.js"></script>
</body>
</html>
