<ul class="list-group list-group-unbordered">
<li class="list-group-item" title="">
  <b> Adverts : </b>  <a title="Organization Name">  <i class="glyphicon glyphicon-bullhorn pull-right"> {{ strTotalAdverts }}</i> </a>
</li>
<li class="list-group-item" title="">
  <b> Credits : </b>  <a title="SMS Messages">  <i class="glyphicon glyphicon-folder-close pull-right"> {{ thisAdvertAccount.strTotalCredits }}</i> </a>
</li>
<li class="list-group-item" title="">
  <b> Unverified Credits : </b>  <a title="SMS Messages">  <i class="glyphicon glyphicon-credits pull-right"> {{  thisAdvertAccount.strTopUpCredit }}</i> </a>
</li>
<li class="list-group-item" title="">

</li>
</ul>
