
<link rel="stylesheet" href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script async defer type="text/javascript">
$(document).ready(function(){
    $('#DraftButt').click(function(){
        var vstrChoice = 5;
        var vstrToEmail = document.getElementById('strToEmail').value;
        var vstrSubject = document.getElementById('strSubject').value;
        var vstrEmailText = document.getElementById('strEmailText').value;

        var dataString = '&vstrChoice='+ vstrChoice + '&vstrToEmail=' + vstrToEmail + '&vstrSubject=' + vstrSubject +
                '&vstrEmailText=' + vstrEmailText ;
          $.ajax({
                type: "post",
                url: "/admin/myemail",
                data: dataString,
                cache: false,
              success: function(html){
                $('#ComposeStatusINFDIV').html(html)
              }
          });
      });
  });
</script>

<script async defer type="text/javascript">
$(document).ready(function(){
    $('#SendButt').click(function(){
        var vstrChoice = 6;
        var vstrToEmail = document.getElementById('strToEmail').value;
        var vstrSubject = document.getElementById('strSubject').value;
        var vstrEmailText = document.getElementById('strEmailText').value;

        var dataString = '&vstrChoice='+ vstrChoice + '&vstrToEmail=' + vstrToEmail + '&vstrSubject=' + vstrSubject +
                '&vstrEmailText=' + vstrEmailText ;
          $.ajax({
                type: "post",
                url: "/admin/myemail",
                data: dataString,
                cache: false,
              success: function(html){
                $('#ComposeStatusINFDIV').html(html)
              }
          });
      });
  });
</script>

<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Compose New Message</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input class="form-control" id="strToEmail" placeholder="To:">
                  </div>
              </div>

              <div class="form-group">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="cglyphicon glyphicon-bullhorn"> </i> </span>
                      <input class="form-control" ID="strSubject" placeholder="Subject:">
                  </div>
              </div>

              <div class="form-group">
                    <textarea id="strEmailText" class="form-control" style="height: 300px"></textarea>
              </div>

              <div class="form-group">
                <div class="btn btn-default btn-file">
                  <i class="fa fa-paperclip"></i> Attachment
                  <input type="file" name="attachment">
                </div>
                <p class="help-block">Max. 32MB</p>
              </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" id="DraftButt" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
                <button type="button" id="SendButt" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
              </div>
              <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
            </div>
            <div class="box box-footer with-border">
                <div id="ComposeStatusINFDIV"></div>
            </div>
            <!-- /.box-footer -->
          </div>
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/static/dist/js/ckeditorintro/ckeditor.js"></script>
<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('strEmailText');
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>