

<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title">My Statistics</h3>
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-unbordered">
            <li class="list-group-item"><strong>Total SMS(Adverts) Sent : <a class="pull-right">{{ thisStats.strTotalSent }}</a></strong></li>
            <li class="list-group-item"><strong>Balance Remaining : <a class="pull-right"> {{ thisStats.strTotalRemaining }}</a></strong></li>
            <li class="list-group-item"><strong>Total Responses : <a class="pull-right">{{ thisStats.strTotalResponses }}</a></strong></li>
            <li class="list-group-item"><strong>Un-Responsive : <a class="pull-right">{{ thisStats.strNoResponse }}</a></strong></li>
        </ul>
    </div>
</div>


