<ul class="list-group list-group-unbordered">
    <li class="list-group-item" title="">
      <b>Affiliate Account : </b>  <a href="/affiliates/public/{{ thisAffiliate.strAffiliateLink }}" title="Organization Name"> {{ thisOrg.strOrganizationName }}  <i class="glyphicon glyphicon-folder-close pull-right"> </i></a>
    </li>
    <li class="list-group-item">
            <b>Account Verified : </b> <a title="Account succesfully verified please buy more credits"> {{ thisOrg.strVerified }}   <i class="fa fa-key pull-right"></i> </a>
    </li>
    <li class="list-group-item" title="">
      <b>Available Credit : </b>  <a title="SMS Messages"> {{ thisAffiliate.strAvailableCredit }} <i class="glyphicon glyphicon-send pull-right"> </i> </a>
    </li>
    <li class="list-group-item" title="">

    </li>
</ul>