<!-- DataTables -->
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title"> Users</h3>
    </div>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#MyAccount" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="fa fa-user"> </i> My Account</button></a></li>
        <li><a href="#ActiveUsers" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="fa fa-server"> </i> New Accounts</button> </a> </li>
        <li><a href="#SuspendedUsers" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="fa fa-server"> </i> Suspended</button> </a> </li>
        <li><a href="#ManageAccounts" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="fa fa-server"> </i> Manage Accounts</button> </a> </li>
    </ul>
    <div class="tab-content">
        <div class="active tab-pane" id="MyAccount">
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title"> My Account</h3>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="strNames" class="col-sm-3 control-label pull-left">Names</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"> </i>
                                </div>
                                <input type="text" class="form-control" id="strNames" value="{{ thisAccount.strNames }}">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="strSurname" class="col-sm-3 control-label pull-left">Surname</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"> </i>
                                </div>
                                <input type="text" class="form-control" id="strSurname" value="{{ thisAccount.strSurname }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="strCell" class="col-sm-3 control-label pull-left">Cell</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-phone"> </i>
                                </div>
                                <input type="text" class="form-control" id="strCell" value="{{ thisAccount.strCell }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="strTel" class="col-sm-3 control-label pull-left">Tel</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-phone-alt"> </i>
                                </div>
                                <input type="text" class="form-control" id="strTel" value="{{ thisAccount.strTel }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="strEmail" class="col-sm-3 control-label pull-left">Email</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"> </i>
                                </div>
                                <input type="text" class="form-control" id="strEmail" value="{{ thisAccount.strEmail }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="strWebsite" class="col-sm-3 control-label pull-left">Website</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope"> </i>
                                </div>
                                <input type="text" class="form-control" id="strWebsite" value="{{ thisAccount.strWebsite }}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label pull-left"></label>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary btn-block" id="UpdateAccountDetailsButt"><strong><i class="fa fa-cloud"> </i> Update Account Details </strong></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label pull-left"></label>
                        <div class="col-sm-6">
                            <div id="UpdateAccountDetailsINFDIV"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane" id="ActiveUsers">
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title"> Active Users</h3>
                </div>
                <table id="ActiveUserAccountsTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Names</td>
                            <td>Surname</td>
                            <td>Cell</td>
                            <td>Tel</td>
                            <td>Email</td>
                        </tr>
                    </thead>
                    <tbody>
                    {%  for thisUser in thisActiveAccountList %}
                        <tr>
                            <td><a href="/admin/users/{{ thisUser.strUserID }}">{{ thisUser.strNames }}</a></td>
                            <td>{{ thisUser.strSurname }}</td>
                            <td>{{ thisUser.strCell }}</td>
                            <td>{{ thisUser.strEmail }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Names</td>
                            <td>Surname</td>
                            <td>Cell</td>
                            <td>Tel</td>
                            <td>Email</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="SuspendedUsers">
        <div class="box box-body with-border">
            <div class="box box-header with-border">
                <h3 class="box-title">Suspended Users</h3>
            </div>
                <table id="SuspendedUserAccountsTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Names</td>
                            <td>Surname</td>
                            <td>Cell</td>
                            <td>Tel</td>
                            <td>Email</td>
                        </tr>
                    </thead>
                    <tbody>
                    {%  for thisUser in thisSuspendedAccountList %}
                        <tr>
                            <td><a href="/admin/users/{{ thisUser.strUserID }}">{{ thisUser.strNames }}</a></td>
                            <td>{{ thisUser.strSurname }}</td>
                            <td>{{ thisUser.strCell }}</td>
                            <td>{{ thisUser.strEmail }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Names</td>
                            <td>Surname</td>
                            <td>Cell</td>
                            <td>Tel</td>
                            <td>Email</td>
                        </tr>
                    </tfoot>
                </table>
        </div>
        </div>
        <div class="tab-pane" id="ManageAccounts">
            <div class="box box-body with-border">
                <div class="box box-header with-border">
                    <h3 class="box-title"> Manage Accounts</h3>
                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#SentInvites" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="fa fa-send"> </i> Sent Invites</button></a></li>
                        <li><a href="#CreateInvite" data-toggle="tab"><button type="button" class="btn btn-bitbucket btn-block"> <i class="fa fa-server"> </i> Create Invite</button> </a> </li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="SentInvites">
                            <div class="box box-body with-border">
                                <div class="box box-header with-border">
                                    <h3 class="box-title">Sent Invitations</h3>
                                </div>
                                <table id="SentInvitationsTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <td>Cell</td>
                                            <td>Email</td>
                                            <td>Security Code</td>
                                            <td>Date</td>
                                            <td>Time</td>
                                            <td>Accepted</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%  for thisSentInvite in thisSentInvitesList %}
                                        <tr>
                                            <td>{{ thisSentInvite.strCell }}</td>
                                            <td>{{ thisSentInvite.strEmail }}</td>
                                            <td>{{ thisSentInvite.strSecurityCode }}</td>
                                            <td>{{ thisSentInvite.strDateSent }}</td>
                                            <td>{{ thisSentInvite.strTimeSent }}</td>
                                            <td>{{ thisSentInvite.strAccepted }}</td>
                                        </tr>
                                    {%  endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Cell</td>
                                            <td>Email</td>
                                            <td>Security Code</td>
                                            <td>Date</td>
                                            <td>Time</td>
                                            <td>Accepted</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="CreateInvite">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="strCell" class="col-sm-3 control-label pull-left">Cell</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="glyphicon glyphicon-phone"> </i>
                                                </div>
                                                    <input type="text" class="form-control" id="strinvCell">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="strEmail" class="col-sm-3 control-label pull-left">Email</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="glyphicon glyphicon-envelope"> </i>
                                                </div>
                                                    <input type="text" class="form-control" id="strinvEmail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label pull-left"></label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary btn-block" id="SendInviteButt"><strong><i class="fa fa-send"> </i> Send Invite </strong></button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label pull-left"></label>
                                        <div class="col-sm-6">
                                            <div id="SendInviteINFDIV"></div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- DataTables -->
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>$(function () {$('#ActiveUserAccountsTable').DataTable({"paging": true,"lengthChange": true,"searching": true,"ordering": true,"info": true,"autoWidth": true});});</script>
<script>$(function () {$('#SuspendedUserAccountsTable').DataTable({"paging": true,"lengthChange": true,"searching": true,"ordering": true,"info": true,"autoWidth": true});});</script>
<script src="/static/dist/js/pages/users/users.js"></script>