<div class="box box-body with-border">
    <div class="box box-header with-border">
        <h3 class="box-title"> Schedule</h3>
    </div>

    <form class="form-horizontal">
        <input type="hidden" id="strScheduleID" value="{{ thisSchedule.strScheduleID }}">
        <div class="form-group">
            <label for="strName" class="col-sm-3 control-label pull-left">Name</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </div>
                    <input type="text" class="form-control" id="strName" value="{{ thisSchedule.strName }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="strDescription" class="col-sm-3 control-label pull-left">Description</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </div>
                    <input type="text" class="form-control" id="strDescription" value="{{ thisSchedule.strDescription }}" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="strStartDate" class="col-sm-3 control-label pull-left">Start Date</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </div>
                    <input type="text" class="form-control" id="strStartDate" value="{{ thisSchedule.strStartDate }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="strStartTime" class="col-sm-3 control-label pull-left">Start Time</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </div>
                    <input type="text" class="form-control" id="strStartTime" value="{{ thisSchedule.strStartTime }}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="strNotifyOnStart" class="col-sm-3 control-label pull-left">Notify On Start</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </div>
                    <select id="strNotifyOnStart" class="form-control">
                        {% if  thisSchedule.strNotifyOnStart == true  %}
                            <option value="YES" selected="selected">True</option>
                            <option value="NO">False</option>
                        {% else %}
                            <option value="YES">True</option>
                            <option value="NO" selected="selected">False</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="strNotifyOnEnd" class="col-sm-3 control-label pull-left">Notify On End</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </div>
                    <select id="strNotifyOnEnd" class="form-control">
                        {% if thisSchedule.strNotifyOnEnd == true %}
                            <option value="YES" selected="selected">True</option>
                            <option value="NO">False</option>
                        {% else %}
                            <option value="YES">True</option>
                            <option value="NO" selected="selected">False</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="strActivateSchedule" class="col-sm-3 control-label pull-left">Activate Schedule</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"> </i>
                    </div>
                    <select id="strActivateSchedule" class="form-control">
                        {% if thisSchedule.strActivateSchedule == true %}
                            <option value="YES" selected="selected">True</option>
                            <option value="NO">False</option>
                        {% else %}
                            <option value="YES">True</option>
                            <option value="NO" selected="selected">False</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label pull-left"></label>
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary btn-block" id="UpdateScheduleButt"><strong><i class="glyphicon glyphicon-cloud-upload"> </i> Update Schedule </strong></button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label pull-left"></label>
            <div class="col-sm-6">
                <div id="UpdateScheduleINFDIV"></div>
            </div>

        </div>

    </form>
</div>
<script src="/static/dist/js/pages/surveys/schedules/subschedule.js"></script>